.nav-container {
  width: 100%;
  height: fit-content;
  outline: 1px solid red;
  display: flex;
  justify-content: center;
}

.nav-bar {
  width: 100%;
  height: 90px;
  background-image: url("/public/assets/background/bg_nav.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.nav-bar__logo {
  width: 100%;
  margin-top: 20px;
  outline: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.nav-bar__logo img {
  width: 10%;
}

.custom-archive-card {
  /* Add your custom styles here */
}

/* CSS FOR BORGIR */

.menu-icon { 
  width: 30px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 20px; /* Adjust as needed */
  transform: translateY(-50%);
  cursor: pointer;
}

.menu-icon .bar {/*editable for the menu icon*/
  display: block;
  width: 2.1rem;
  height: 4px;
  background-color: #ffcd6c;
  position: absolute;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.menu-icon .bar:nth-child(1) {
  top: 0;
}

.menu-icon .bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menu-icon .bar:nth-child(3) {
  bottom: 0;
}

.menu-icon.active .bar:nth-child(1) {
  transform: translateY(50%) rotate(45deg);
}

.menu-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.active .bar:nth-child(3) {
  transform: translateY(-50%) rotate(-45deg);
}

.menu {/*editable for the menu sidebar*/
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 26rem;
  left: 0px; /* Adjust as needed */
  height: 40rem;
  width: 200px; /* Adjust as needed */
  background-color: #fff;
  padding: 20px;
  /* padding-bottom: ; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(-50%) translateX(-100%);
  transition: transform 0.3s ease;
}
.menu:hover{
  color: #a893bf;
}
.menu.open {
  transform: translateY(-50%) translateX(0);
}

.menu a {
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
}

/* Close sidebar when clicking outside */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.menu.open + .overlay {
  display: block;
}
